<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <section>
       <table>
           <thead>
                <tr>
                   <th>Name</th>
                   <th>Email</th>
                   <th>Phone</th>
                   <th>plan1</th>
                   <th>plan2</th>
                   <th>plan3</th>
                   <th>subtotal</th>
                   <th>discount</th>
                   <th>Tax</th>
                   <th>Total</th>
                 </tr>
           </thead>
           <tbody>
               <%
                    for(order of orders){
               %>
            <tr>
                <td><%= order.name %></td>
                <td><%= order.email %></td>
                <td><%= order.phone %></td>
                <td><%= order.plan1 %></td>
                <td><%= order.plan2 %></td>
                <td><%= order.plan3 %></td>
                <td>$<%= order.subTotal.toFixed(2) %></td>
                <td>$<%= order.discount %></td>
                <td>$<%= order.tax.toFixed(2) %></td>
                <td>$<%= order.total.toFixed(2) %></td>
              </tr>
              <%
            }
            %>
           </tbody>
       </table> 
    </section>

</body>
<%- include('layouts/footer'); -%>
