<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
  <section class="w50">
    <form name="myform" method="Post" onsubmit="return formSubmit();"  action="" >

      <label  for = "name">Name:</label>
      <input type="text" id="name" placeholder="First Last" class="inputtxt" name="name" >
      <lable id="mandatory">*</lable><br/>

      <label>Email</label>
      <input id="email" placeholder="email@domain.com" type="email" name="email"><br/>

      <label>Phone</label>
      <input id="phone" placeholder="123-123-1234" type="phone" name="phone">
      <lable id="mandatory">*</lable><br/>

      <label for = "plan1">Plan1:</label>
      <input type="text" id="plan1"  name="plan1"><br/>

      <label for = "plan2">Plan2:</label>
      <input type="text" id="plan2"  name="plan2"><br/>

      <label for = "plan3">Plan3:</label>
      <input type="text" id="plan3"  name="plan3"><br/>

      <input type="submit" value="Submit">
      <p id="errors"></p>
    </form>  
</section>
<section class="w50">
  <div class="formData">
    <%
      if(typeof(errors) != 'undefined'){
        for(var error of errors){
        %>
          <p class="errors"><%= error.msg %></p>
        <%
        }
      }
    %>
    <%
      if(typeof(total) != 'undefined'){
        %>
        <p id="formResult">Your Receipt:</p>
        <table>
          <tr>
            <th>Name: </th>
            <td><%= name %></td>
          </tr>
          <tr>
            <th>Email: </th>
            <td><%= email %></td>
          </tr>
          <tr>
            <th>Phone: </th>
            <td><%= phone %></td>
          </tr>
          <tr>
            <th>plan1 50 Mbps $25.99: </th>
            <td><%= plan1 %> </td>
          </tr>
          <tr>
            <th>plan2 100 Mbps $65.99: </th>
            <td><%= plan2 %> </td>
          </tr>
          <tr>
            <th>business internet plan3 $250: </th>
            <td><%= plan3 %> </td>
          </tr>
          <tr>
            <th>Discount: </th>
            <td>$<%= discount.toFixed(2) %></td>
          </tr>
          <tr>
            <th>Sub Total: </th>
            <td>$<%= subTotal.toFixed(2) %></td>
          </tr>
          <tr>
            <th>Tax: </th>
            <td>$<%= tax.toFixed(2) %></td>
          </tr>
          <tr>
            <th>Total: </th>
            <td>$<%= total.toFixed(2) %></td>
          </tr>
        </table>
        <%
      }
    %>
    
  </div>
</section>
<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>








